# Maven and build files
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/

# Eclipse
.classpath
.project
.settings
.recommenders
.metadata
maven-eclipse.xml
.externalToolBuilders/

# Idea IntelliJ
*.ipr
*.iws
*.iml
.idea/

# Caches
.scala_dependencies

# Other
.DS_Store
hs_err_*

# Binaries
*.jar

# Backups
*~
.#*
\#*

# Fuseki file area
run/
rebuild-all-11.bat
rebuild-all-13.bat
rebuild-all-16.bat
rebuild-all-base.bat
rebuild-all.bat
/apache-jena/.flattened-pom.xml
/apache-jena-libs/.flattened-pom.xml
/jena-arq/.flattened-pom.xml
/jena-base/.flattened-pom.xml
/jena-cmds/.flattened-pom.xml
/jena-core/.flattened-pom.xml
/jena-db/jena-dboe-base/.flattened-pom.xml
/jena-db/jena-dboe-index/.flattened-pom.xml
/jena-db/jena-dboe-index-test/.flattened-pom.xml
/jena-db/jena-dboe-storage/.flattened-pom.xml
/jena-db/jena-dboe-trans-data/.flattened-pom.xml
/jena-db/jena-dboe-transaction/.flattened-pom.xml
/jena-db/jena-tdb2/.flattened-pom.xml
/jena-db/.flattened-pom.xml
/jena-examples/.flattened-pom.xml
/jena-extras/jena-commonsrdf/.flattened-pom.xml
/jena-extras/jena-querybuilder/.flattened-pom.xml
/jena-extras/.flattened-pom.xml
/jena-fuseki2/apache-jena-fuseki/.flattened-pom.xml
/jena-fuseki2/jena-fuseki-access/.flattened-pom.xml
/jena-fuseki2/jena-fuseki-core/.flattened-pom.xml
/jena-fuseki2/jena-fuseki-docker/.flattened-pom.xml
/jena-fuseki2/jena-fuseki-fulljar/.flattened-pom.xml
/jena-fuseki2/jena-fuseki-geosparql/.flattened-pom.xml
/jena-fuseki2/jena-fuseki-main/.flattened-pom.xml
/jena-fuseki2/jena-fuseki-server/.flattened-pom.xml
/jena-fuseki2/jena-fuseki-war/.flattened-pom.xml
/jena-fuseki2/jena-fuseki-webapp/.flattened-pom.xml
/jena-fuseki2/.flattened-pom.xml
/jena-geosparql/.flattened-pom.xml
/jena-integration-tests/.flattened-pom.xml
/jena-iri/.flattened-pom.xml
/jena-jdbc/jena-jdbc-core/.flattened-pom.xml
/jena-jdbc/jena-jdbc-driver-bundle/.flattened-pom.xml
/jena-jdbc/jena-jdbc-driver-mem/.flattened-pom.xml
/jena-jdbc/jena-jdbc-driver-remote/.flattened-pom.xml
/jena-jdbc/jena-jdbc-driver-tdb/.flattened-pom.xml
/jena-jdbc/.flattened-pom.xml
/jena-permissions/.flattened-pom.xml
/jena-rdfconnection/.flattened-pom.xml
/jena-shacl/.flattened-pom.xml
/jena-shaded-guava/.flattened-pom.xml
/jena-shex/.flattened-pom.xml
/jena-tdb/.flattened-pom.xml
/jena-text/.flattened-pom.xml
/.flattened-pom.xml
